body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

.Paragrafo {
    color: yellow;
    background-color: black;
    padding: 5px;
}

/* id */
#titulo-com-id {
    background-color: green;
    color: #ffffff;
    padding: 10px;
    font-size: 40px;
}

/* Regra de Ordem */

h3  {
    border-bottom: 2px solid blue;
}

.class-titulo{
    border-bottom: 2px solid red;
}

#id-titulo{
    border-bottom: 2px solid purple;
}